/* For laptop  */
@media screen and (max-width: 959px) {
  .container{
    width:100%;
  }
}

/* For Ipad, tablet */
@media screen and (max-width: 640px) {
  .container{
    width:100%;
  }
}

/* For Phone*/
@media (max-width: 320px) {
  .container{
    width: 100%;
  }
}

.content {
  font-family: "Times New Roman', Times, serif";
}

.title img{
  height: 30px;
}

.login-form{
  display:grid;
  justify-content: center; 
  align-items: center;
  height: 50px;
  border: 5px solid black;
  margin-top: 50px;
}

.settingsIcons {
  position: Absolute; 
  top: 10px; 
  right: 20px; 

}

.your-surveys {
  font-weight: bold;
}

.h1 {
  width: 30%;
  
}

.survey-list{
  font-family: 'Times New Roman', Times, serif;
}

.addNewSurvey{
  background-color: #F4F4F9;
  border-radius: 10px;
  height: 100%;
}

.addSurBtn {
  color: Gray;
  font-weight: bold;
}

.logoutbtn {
  color: gray;
  font-weight: bold;
}

.question-form {
  background-color: #F4F4F9;
  height: 100%;
}

.section {
  width: 80%;
  height: 100%;
  background-color: #e6e6e9 ;
  border-radius: 8px;
  padding: 20px 25px;
  margin: auto;
}

.question-form-header {
  background-color: #F4F4F9 ;
  border-bottom: 5px solid rgb(85, 85, 85);
  border-radius: 8px;
  padding: 30px 25px;
  width: 90%; 
  margin: auto;
}

.survey-title {
  box-sizing: border-box;
  font-family: "Times New Roman', Times, serif";
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  width: 100%;
  border: rgb(85, 85, 85);
  outline: none;
  border-bottom: 1px solid #F4F4F9;
  color: black;
  height:35px;
}

.question-boxes{
  background-color:#F4F4F9 ;
  border-radius: 8px;
  padding: 30px 25px;
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  border-bottom: 5px solid rgb(85, 85, 85);
  border-color: rgb(85, 85, 85);
}

.add-question {
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 93%;
}

.add-question-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.question {
  box-sizing: border-box;
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
  font-weight: 400;
  flex: 1;
  line-height: 40px;
  border: none;
  outline: none;
  color: black;
  height: 40px;
  margin-right: 10px;
  padding: 10px;
}

.question:focus {
  border-bottom: 1px solid gray;
  background-color: #F4F4F9;
  width: 150%;
}

.select {
  height: 40px;
  width: 70px;
  border: 0.5px solid;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  border: 1.5px solid #F4F4F9;
  border-radius: 3px;
  background: transparent;
}

.menuItem {
  color: rgb(78, 76, 76);
}

.add-question-body {
  display: flex;
  align-items: center;
}
 
.text-input {
  outline: none;
  border: none;
  height: 40px;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #242024;
}

.text-input:focus {
  border-bottom: 1.5px solid gray;
}

.add-footer {
  display: flex;
  justify-content: space-between;
}

.add-question-bottom {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #F4F4F9;
}


.question-edit {
  background-color: #F4F4F9;
  display: flex;
  flex-direction: column;
  margin: 0 12px  ;
  margin-right: 12px;
  margin-top: 10px;
  margin-bottom: 0px;
  border-radius: 5px;
  height: 40px;
  width: 35px;
}

.edit {
  color: rgb(78, 76, 76);
  padding: 8px 5px;
}












