.title img{
  height: 30px;
}

.login-form{
  display:grid;
  justify-content: center; 
  align-items: center;
  height: 50px;
  border: 5px solid black;
  margin-top: 50px;
}

.your-surveys {
  font-weight: bold;
}

.addSurBtn {
  color: Gray;
  font-weight: bold;
}