/* For laptop  */
@media screen and (max-width: 959px) {
  .container {
    width: 100%;
  }
}

/* For Ipad, tablet */
@media screen and (max-width: 640px) {
  .container {
    width: 100%;
  }
}

/* For Phone*/
@media (max-width: 320px) {
  .container {
    width: 100%;
  }
}

.content {
  font-family: "Times New Roman', Times, serif";
}

.title img {
  height: 30px;
}

.login-form {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 5px solid black;
  margin-top: 50px;
}

.settingsIcons {
  position: Absolute;
  top: 10px;
  right: 20px;
}

.your-surveys {
  font-weight: bold;
}

.userNameStyle {
  text-align: left;
  font-size: large;
  font-weight: bold;
}

.h1 {
  width: 30%;
}

.survey-list {
  font-family: 'Times New Roman', Times, serif;
}

.addNewSurvey {
  background-color: #f4f4f9;
  border-radius: 10px;
  height: 100%;
}

.addSurBtn {
  color: Gray;
  font-weight: bold;
}

.logoutbtn {
  color: gray;
  font-weight: bold;
}

.question-form {
  background-color: #f4f4f9;
  height: 100%;
}

.section {
  width: 90%;
  height: 95%;
  background-color: #e6e6e9;
  border-radius: 8px;
  padding: 5px 15px;
  margin: auto;
}

.question-form-header {
  background-color: #f4f4f9;
  border-bottom: 5px solid rgb(85, 85, 85);
  border-radius: 5px;
  width: 100%;
  margin: auto;
}

.survey-title {
  box-sizing: border-box;
  font-family: "Times New Roman', Times, serif";
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  width: 100%;
  border: rgb(85, 85, 85);
  outline: none;
  border-bottom: 1px solid #f4f4f9;
  color: black;
  height: 35px;
}

.question-boxes {
  background-color: #f4f4f9;
  border-radius: 8px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  border-bottom: 5px solid rgb(85, 85, 85);
  border-color: rgb(85, 85, 85);
}

.add-question {
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 93%;
}

.add-question-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.question {
  box-sizing: border-box;
  background-color: greenyellow;
  margin-top: 10px;
  margin-right: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
  font-weight: 400;
  flex: 1;
  color: black;
  height: 40px;
  padding: 10px;
}

.question:focus {
  border-bottom: 1px solid gray;
  background-color: #f4f4f9;
  width: 150%;
}

.select {
  height: 40px;
  width: 70px;
  border: 0.5px solid;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  border: 1.5px solid #f4f4f9;
  border-radius: 3px;
  background: transparent;
}

.menuItem {
  color: rgb(78, 76, 76);
}

.add-question-body {
  display: flex;
  align-items: center;
}

.text-input {
  outline: none;
  border: none;
  height: 40px;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #242024;
}

.text-input:focus {
  border-bottom: 1.5px solid gray;
}

.add-footer {
  display: flex;
  justify-content: space-between;
}

.add-question-bottom {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #f4f4f9;
}

.question-edit {
  background-color: #f4f4f9;
  display: flex;
  flex-direction: column;
  margin: 0 12px;
  margin-right: 12px;
  margin-top: 10px;
  margin-bottom: 0px;
  border-radius: 5px;
  height: 40px;
  width: 35px;
}

.edit {
  color: rgb(78, 76, 76);
  background-color: hsl(0, 2%, 89%);
  padding: 8px 5px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
